<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Minimal Spreadsheet</title>
    <style>
    html {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
        background: whitesmoke;
        font-size: 18px;
    }
    body {
        margin: 1rem;
    }
    table {
        border-collapse: collapse;
    }
    .cell {
        border-right: 1px solid #3e3e5d;
        border-top: 1px solid #3e3e5d;
        padding: .1rem .25rem;
        font-size: 0.85rem;
        margin: 0px;
        min-width: 2rem;
    }
    .cell-preview {
        margin: 0;
        font-size: 65%;
        white-space: pre;
    }
    .cell-preview-error {
        color: orange;
    }
    .cell-display-error {
        color: orange;
        font-size: 65%;
    }
    .table-row-number {
        font-size: 65%;
        padding-right: .5rem;
        color: #4f4f81;
    }
    .cell-display-number {
        text-align: right;
    }
    </style>
</head>
<body>
    <div id="app-container"></div>
</body>
</html>